In [1]:
! pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/lg/anaconda3/envs/datacrawler/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /home/lg/anaconda3/envs/datacrawler/lib/python3.9/site-packages (from beautifulsoup4) (2.3.1)

In [2]:
!pip install lxml

Requirement already satisfied: lxml in /home/lg/anaconda3/envs/datacrawler/lib/python3.9/site-packages (4.9.1)

In [3]:
! pip install pandas

Requirement already satisfied: pandas in /home/lg/anaconda3/envs/datacrawler/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in /home/lg/anaconda3/envs/datacrawler/lib/python3.9/site-packages (from pandas) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/lg/anaconda3/envs/datacrawler/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/lg/anaconda3/envs/datacrawler/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /home/lg/anaconda3/envs/datacrawler/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Requests, Pandas, BeautifulSoup.

In [4]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup # library to parse HTML documents

In [5]:
# get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/List_of_asset_management_firms"
table_class="sortable wikitable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [6]:
response

In [7]:
#response.text # The whole html source code from the url

In [8]:
type(response.text)

str

In [9]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
largest_company_table = soup.find('table',{'class':"wikitable"}) 
#table ==> tag html ==> we have it in the html source code
#{'class':"wikitable"} ==> This is a dictionary, class name

In [10]:
type(soup)

bs4.BeautifulSoup

In [11]:
#soup

In [15]:
df=pd.read_html(str(largest_company_table))

In [16]:
df

[    Rank                  Firm/company         Country  AUM (billion USD)
 0      1                     BlackRock   United States              10010
 1      2                Charles Schwab   United States               8140
 2      3                Vanguard Group   United States               8100
 3      4                           UBS     Switzerland               4380
 4      5          Fidelity Investments   United States               4283
 5      6  State Street Global Advisors   United States               4020
 6      7                Morgan Stanley   United States               3230
 7      8                JPMorgan Chase   United States               2960
 8      9                       Allianz         Germany               2760
 9     10                 Capital Group   United States               2700
 10    11                 Goldman Sachs   United States               2394
 11    12                    BNY Mellon   United States               2266
 12    13                        Amundi          France               2251
 13    14                         PIMCO   United States               2000
 14    15               Legal & General  United Kingdom               1866
 15    16          Prudential Financial   United States               1620
 16    17                 Deutsche Bank         Germany               1615
 17    18               Bank of America   United States               1571
 18    19                       Invesco   United States               1556
 19    20                 T. Rowe Price   United States               1552]

In [17]:
len(df)

1

In [18]:
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

   Rank          Firm/company        Country  AUM (billion USD)
0     1             BlackRock  United States              10010
1     2        Charles Schwab  United States               8140
2     3        Vanguard Group  United States               8100
3     4                   UBS    Switzerland               4380
4     5  Fidelity Investments  United States               4283

In [19]:
df

    Rank                  Firm/company         Country  AUM (billion USD)
0      1                     BlackRock   United States              10010
1      2                Charles Schwab   United States               8140
2      3                Vanguard Group   United States               8100
3      4                           UBS     Switzerland               4380
4      5          Fidelity Investments   United States               4283
5      6  State Street Global Advisors   United States               4020
6      7                Morgan Stanley   United States               3230
7      8                JPMorgan Chase   United States               2960
8      9                       Allianz         Germany               2760
9     10                 Capital Group   United States               2700
10    11                 Goldman Sachs   United States               2394
11    12                    BNY Mellon   United States               2266
12    13                        Amundi          France               2251
13    14                         PIMCO   United States               2000
14    15               Legal & General  United Kingdom               1866
15    16          Prudential Financial   United States               1620
16    17                 Deutsche Bank         Germany               1615
17    18               Bank of America   United States               1571
18    19                       Invesco   United States               1556
19    20                 T. Rowe Price   United States               1552

In [ ]:
# https://en.wikipedia.org/wiki/List_of_Game_of_Thrones_episodes

In [20]:
def get_wiki_table(url: str) -> pd.DataFrame:
        
    """
    Get the tables from a given url
    """
    try:
        response=requests.get(url)

        if response.ok:
            soup = BeautifulSoup(response.text, 'lxml')
            tables = soup.find_all('table',{'class':"wikitable"})
            df_list = pd.read_html(str(tables))
            
            return df_list
        

        else: 
            print(f"The status code is {response.status_code}")
            
    except Exception as e:
        print (e.message, e.arg)

In [23]:
list_df= get_wiki_table('https://en.wikipedia.org/wiki/List_of_Game_of_Thrones_episodes')

In [26]:
len(list_df)

12

In [32]:
list(range (1,12))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [34]:
newlist = [x for x in range (1, len(list_df)+1)]

In [35]:
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [36]:
index = 1
for df in list_df:
    df.to_csv(f"table{index}.csv")
    index += 1

In [43]:
from typing import List
def save_table (list_of_df: List[pd.DataFrame]) -> None:
    index = 1
    for df in list_of_df:
        df.to_csv(f"table{index}.csv")
        index += 1
    return

In [25]:
fruits = ["apple", "banana", "cherry"]
for x in list_df:
  print(x)
  print('-' * 50)

  Season Episodes            Originally aired                   \
  Season Episodes Episodes.1      First aired       Last aired
0      1       10         10   April 17, 2011    June 19, 2011
1      2       10         10    April 1, 2012     June 3, 2012
2      3       10         10   March 31, 2013     June 9, 2013
3      4       10         10    April 6, 2014    June 15, 2014
4      5       10         10   April 12, 2015    June 14, 2015
5      6       10         10   April 24, 2016    June 26, 2016
6      7        7          7    July 16, 2017  August 27, 2017
7      8        6          6   April 14, 2019     May 19, 2019

  Avg. U.S. viewers(millions)
  Avg. U.S. viewers(millions)
0                    2.52[13]
1                    3.80[13]
2                    4.97[14]
3                    6.84[15]
4                    6.88[16]
5                    7.69[17]
6                   10.26[18]
7                   11.99[19]
--------------------------------------------------
   No.overall  No. inseason                                    Title  \
0           1             1                       "Winter Is Coming"
1           2             2                          "The Kingsroad"
2           3             3                              "Lord Snow"
3           4             4  "Cripples, Bastards, and Broken Things"
4           5             5                  "The Wolf and the Lion"
5           6             6                         "A Golden Crown"
6           7             7                     "You Win or You Die"
7           8             8                         "The Pointy End"
8           9             9                                 "Baelor"
9          10            10                         "Fire and Blood"

      Directed by                                         Written by  \
0  Tim Van Patten                        David Benioff & D. B. Weiss
1  Tim Van Patten                        David Benioff & D. B. Weiss
2      Brian Kirk                        David Benioff & D. B. Weiss
3      Brian Kirk                                       Bryan Cogman
4      Brian Kirk                        David Benioff & D. B. Weiss
5  Daniel Minahan  Story by : David Benioff & D. B. WeissTeleplay...
6  Daniel Minahan                        David Benioff & D. B. Weiss
7  Daniel Minahan                                George R. R. Martin
8     Alan Taylor                        David Benioff & D. B. Weiss
9     Alan Taylor                        David Benioff & D. B. Weiss

  Original air date [20] U.S. viewers(millions)
0         April 17, 2011               2.22[21]
1         April 24, 2011               2.20[22]
2            May 1, 2011               2.44[23]
3            May 8, 2011               2.45[24]
4           May 15, 2011               2.58[25]
5           May 22, 2011               2.44[26]
6           May 29, 2011               2.40[27]
7           June 5, 2011               2.72[28]
8          June 12, 2011               2.66[29]
9          June 19, 2011               3.04[30]
--------------------------------------------------
   No.overall  No. inseason                         Title     Directed by  \
0          11             1         "The North Remembers"     Alan Taylor
1          12             2             "The Night Lands"     Alan Taylor
2          13             3  "What Is Dead May Never Die"   Alik Sakharov
3          14             4             "Garden of Bones"  David Petrarca
4          15             5      "The Ghost of Harrenhal"  David Petrarca
5          16             6    "The Old Gods and the New"    David Nutter
6          17             7         "A Man Without Honor"    David Nutter
7          18             8    "The Prince of Winterfell"     Alan Taylor
8          19             9                  "Blackwater"   Neil Marshall
9          20            10             "Valar Morghulis"     Alan Taylor

                    Written by Original air date [20] U.S. viewers(millions)
0  David Benioff & D. B. Weiss          April 1, 2012               3.86[31]
1  David Benioff & D. B. Weiss          April 8, 2012               3.76[32]
2                 Bryan Cogman         April 15, 2012               3.77[33]
3               Vanessa Taylor         April 22, 2012               3.65[34]
4  David Benioff & D. B. Weiss         April 29, 2012               3.90[35]
5               Vanessa Taylor            May 6, 2012               3.88[36]
6  David Benioff & D. B. Weiss           May 13, 2012               3.69[37]
7  David Benioff & D. B. Weiss           May 20, 2012               3.86[38]
8          George R. R. Martin           May 27, 2012               3.38[39]
9  David Benioff & D. B. Weiss           June 3, 2012               4.20[40]
--------------------------------------------------
   No.overall  No. inseason                           Title  \
0          21             1                "Valar Dohaeris"
1          22             2        "Dark Wings, Dark Words"
2          23             3            "Walk of Punishment"
3          24             4    "And Now His Watch Is Ended"
4          25             5                "Kissed by Fire"
5          26             6                     "The Climb"
6          27             7  "The Bear and the Maiden Fair"
7          28             8                   "Second Sons"
8          29             9        "The Rains of Castamere"
9          30            10                         "Mhysa"

         Directed by                   Written by Original air date [20]  \
0     Daniel Minahan  David Benioff & D. B. Weiss         March 31, 2013
1     Daniel Minahan               Vanessa Taylor          April 7, 2013
2      David Benioff  David Benioff & D. B. Weiss         April 14, 2013
3        Alex Graves  David Benioff & D. B. Weiss         April 21, 2013
4        Alex Graves                 Bryan Cogman         April 28, 2013
5      Alik Sakharov  David Benioff & D. B. Weiss            May 5, 2013
6  Michelle MacLaren          George R. R. Martin           May 12, 2013
7  Michelle MacLaren  David Benioff & D. B. Weiss           May 19, 2013
8       David Nutter  David Benioff & D. B. Weiss           June 2, 2013
9       David Nutter  David Benioff & D. B. Weiss           June 9, 2013

  U.S. viewers(millions)
0               4.37[41]
1               4.27[42]
2               4.72[43]
3               4.87[44]
4               5.35[45]
5               5.50[46]
6               4.84[47]
7               5.13[48]
8               5.22[49]
9               5.39[50]
--------------------------------------------------
   No.overall  No. inseason                         Title        Directed by  \
0          31             1                  "Two Swords"        D. B. Weiss
1          32             2       "The Lion and the Rose"        Alex Graves
2          33             3           "Breaker of Chains"        Alex Graves
3          34             4                  "Oathkeeper"  Michelle MacLaren
4          35             5           "First of His Name"  Michelle MacLaren
5          36             6    "The Laws of Gods and Men"      Alik Sakharov
6          37             7                 "Mockingbird"      Alik Sakharov
7          38             8  "The Mountain and the Viper"        Alex Graves
8          39             9    "The Watchers on the Wall"      Neil Marshall
9          40            10                "The Children"        Alex Graves

                    Written by Original air date [20] U.S. viewers(millions)
0  David Benioff & D. B. Weiss          April 6, 2014               6.64[51]
1          George R. R. Martin         April 13, 2014               6.31[52]
2  David Benioff & D. B. Weiss         April 20, 2014               6.59[53]
3                 Bryan Cogman         April 27, 2014               6.95[54]
4  David Benioff & D. B. Weiss            May 4, 2014               7.16[55]
5                 Bryan Cogman           May 11, 2014               6.40[56]
6  David Benioff & D. B. Weiss           May 18, 2014               7.20[57]
7  David Benioff & D. B. Weiss           June 1, 2014               7.17[58]
8  David Benioff & D. B. Weiss           June 8, 2014               6.95[59]
9  David Benioff & D. B. Weiss          June 15, 2014               7.09[60]
--------------------------------------------------
   No.overall  No. inseason                           Title       Directed by  \
0          41             1              "The Wars to Come"    Michael Slovis
1          42             2  "The House of Black and White"    Michael Slovis
2          43             3                  "High Sparrow"        Mark Mylod
3          44             4             "Sons of the Harpy"        Mark Mylod
4          45             5                  "Kill the Boy"    Jeremy Podeswa
5          46             6     "Unbowed, Unbent, Unbroken"    Jeremy Podeswa
6          47             7                      "The Gift"  Miguel Sapochnik
7          48             8                      "Hardhome"  Miguel Sapochnik
8          49             9          "The Dance of Dragons"      David Nutter
9          50            10                "Mother's Mercy"      David Nutter

                    Written by Original air date [20] U.S. viewers(millions)
0  David Benioff & D. B. Weiss         April 12, 2015               8.00[61]
1  David Benioff & D. B. Weiss         April 19, 2015               6.81[62]
2  David Benioff & D. B. Weiss         April 26, 2015               6.71[63]
3                    Dave Hill            May 3, 2015               6.82[64]
4                 Bryan Cogman           May 10, 2015               6.56[65]
5                 Bryan Cogman           May 17, 2015               6.24[66]
6  David Benioff & D. B. Weiss           May 24, 2015               5.40[67]
7  David Benioff & D. B. Weiss           May 31, 2015               7.01[68]
8  David Benioff & D. B. Weiss           June 7, 2015               7.14[69]
9  David Benioff & D. B. Weiss          June 14, 2015               8.11[70]
--------------------------------------------------
   No.overall  No. inseason                     Title       Directed by  \
0          51             1           "The Red Woman"    Jeremy Podeswa
1          52             2                    "Home"    Jeremy Podeswa
2          53             3             "Oathbreaker"   Daniel Sackheim
3          54             4    "Book of the Stranger"   Daniel Sackheim
4          55             5                "The Door"       Jack Bender
5          56             6       "Blood of My Blood"       Jack Bender
6          57             7          "The Broken Man"        Mark Mylod
7          58             8                  "No One"        Mark Mylod
8          59             9  "Battle of the Bastards"  Miguel Sapochnik
9          60            10     "The Winds of Winter"  Miguel Sapochnik

                    Written by Original air date [20] U.S. viewers(millions)
0  David Benioff & D. B. Weiss         April 24, 2016               7.94[71]
1                    Dave Hill            May 1, 2016               7.29[72]
2  David Benioff & D. B. Weiss            May 8, 2016               7.28[73]
3  David Benioff & D. B. Weiss           May 15, 2016               7.82[74]
4  David Benioff & D. B. Weiss           May 22, 2016               7.89[75]
5                 Bryan Cogman           May 29, 2016               6.71[76]
6                 Bryan Cogman           June 5, 2016               7.80[77]
7  David Benioff & D. B. Weiss          June 12, 2016               7.60[78]
8  David Benioff & D. B. Weiss          June 19, 2016               7.66[79]
9  David Benioff & D. B. Weiss          June 26, 2016               8.89[80]
--------------------------------------------------
   No.overall  No. inseason                      Title     Directed by  \
0          61             1              "Dragonstone"  Jeremy Podeswa
1          62             2                "Stormborn"      Mark Mylod
2          63             3      "The Queen's Justice"      Mark Mylod
3          64             4        "The Spoils of War"    Matt Shakman
4          65             5                "Eastwatch"    Matt Shakman
5          66             6          "Beyond the Wall"     Alan Taylor
6          67             7  "The Dragon and the Wolf"  Jeremy Podeswa

                    Written by Original air date [20] U.S. viewers(millions)
0  David Benioff & D. B. Weiss          July 16, 2017              10.11[81]
1                 Bryan Cogman          July 23, 2017               9.27[82]
2  David Benioff & D. B. Weiss          July 30, 2017               9.25[83]
3  David Benioff & D. B. Weiss         August 6, 2017              10.17[84]
4                    Dave Hill        August 13, 2017              10.72[85]
5  David Benioff & D. B. Weiss        August 20, 2017              10.24[86]
6  David Benioff & D. B. Weiss        August 27, 2017              12.07[87]
--------------------------------------------------
   No.overall  No. inseason                             Title  \
0          68             1                      "Winterfell"
1          69             2  "A Knight of the Seven Kingdoms"
2          70             3                  "The Long Night"
3          71             4          "The Last of the Starks"
4          72             5                       "The Bells"
5          73             6                 "The Iron Throne"

                   Directed by                   Written by  \
0                 David Nutter                    Dave Hill
1                 David Nutter                 Bryan Cogman
2             Miguel Sapochnik  David Benioff & D. B. Weiss
3                 David Nutter  David Benioff & D. B. Weiss
4             Miguel Sapochnik  David Benioff & D. B. Weiss
5  David Benioff & D. B. Weiss  David Benioff & D. B. Weiss

  Original air date [20] U.S. viewers(millions)
0         April 14, 2019              11.76[88]
1         April 21, 2019              10.29[89]
2         April 28, 2019              12.02[90]
3            May 5, 2019              11.80[91]
4           May 12, 2019              12.48[92]
5           May 19, 2019              13.61[93]
--------------------------------------------------
                                                 No.  \
0                                                  1
1  A half-hour documentary that covered one day o...
2                                                  2
3  A two-hour documentary which documents the mak...

                                               Title  \
0                 Game of Thrones: A Day in the Life
1  A half-hour documentary that covered one day o...
2                    Game of Thrones: The Last Watch
3  A two-hour documentary which documents the mak...

                                   Original air date  \
0                                   February 8, 2015
1  A half-hour documentary that covered one day o...
2                                       May 26, 2019
3  A two-hour documentary which documents the mak...

                              U.S. viewers(millions)  \
0                                                NaN
1  A half-hour documentary that covered one day o...
2                                           1.63[96]
3  A two-hour documentary which documents the mak...

                                          Unnamed: 4
0                                                NaN
1  A half-hour documentary that covered one day o...
2                                                NaN
3  A two-hour documentary which documents the mak...
--------------------------------------------------
  Season          Episodes DVD and Blu-ray release date  \
  Season Season.1 Episodes                     Region 1
0    NaN        1       10            March 6, 2012[97]
1    NaN        2       10       February 19, 2013[100]
2    NaN        3       10       February 18, 2014[103]
3    NaN        4       10       February 17, 2015[106]
4    NaN        5       10          March 15, 2016[109]
5    NaN        6       10       November 15, 2016[112]
6    NaN        7        7       December 12, 2017[115]
7    NaN        8        6        December 3, 2019[118]


                 Region 2                Region 4
0       March 5, 2012[98]     August 10, 2012[99]
1      March 4, 2013[101]      March 6, 2013[102]
2  February 17, 2014[104]  February 19, 2014[105]
3  February 16, 2015[107]  February 18, 2015[108]
4     March 14, 2016[110]     March 16, 2016[111]
5  November 14, 2016[113]  November 16, 2016[114]
6  December 11, 2017[116]  December 11, 2017[117]
7   December 2, 2019[119]   December 4, 2019[120]
--------------------------------------------------
  Season          Episode number                                            \
  Season Season.1              1      2      3      4      5      6      7
0    NaN        1           2.22   2.20   2.44   2.45   2.58   2.44   2.40
1    NaN        2           3.86   3.76   3.77   3.65   3.90   3.88   3.69
2    NaN        3           4.37   4.27   4.72   4.87   5.35   5.50   4.84
3    NaN        4           6.64   6.31   6.59   6.95   7.16   6.40   7.20
4    NaN        5           8.00   6.81   6.71   6.82   6.56   6.24   5.40
5    NaN        6           7.94   7.29   7.28   7.82   7.89   6.71   7.80
6    NaN        7          10.11   9.27   9.25  10.17  10.72  10.24  12.07
7    NaN        8          11.76  10.29  12.02  11.80  12.48  13.61    NaN

                    Average
      8     9    10 Average
0  2.72  2.66  3.04    2.52
1  3.86  3.38  4.20    3.80
2  5.13  5.22  5.39    4.97
3  7.17  6.95  7.09    6.84
4  7.01  7.14  8.11    6.88
5  7.60  7.66  8.89    7.69
6   NaN   NaN   NaN   10.26
7   NaN   NaN   NaN   11.99
--------------------------------------------------

In [ ]:



df=pd.DataFrame(df[0])

In [ ]:
for t in

In [ ]:
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

In [38]:
!explorer .

zsh:1: command not found: explorer

In [39]:
pwd

'/mnt/c/Users/hnhtd/Desktop/Daily/2022/git/datawebscraper/datawebscraper'

In [41]:
!explorer.exe .